﻿<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
        <div class="container body-content">
            <nav class="navbar">
                <div class="container-fluid">
                  
                    @if (ViewBag.Username == null)
                    {
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="/User/SingIn">Singin</a></li>
                            <li><a href="/User/Register">Register</a></li>
                        </ul>
                    }
                    else
                    {
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="/">User @ViewBag.Username</a></li>
                            <li><a href="/User/LogOut">LogOut</a></li>
                        </ul>
                    }
                </div>
            </nav>
            @RenderBody()
        </div>
</body>
</html>
