﻿ @model Linker.Models.LinkerModel
 @{
     Layout = "~/Views/Shared/_Layout.cshtml";
     ViewBag.Title = "Main";
     ViewBag.Username = Model.Username;
 }
        <form class="input-group" method="post">
                <span class="input-group-addon" id="sizing-addon1">Enter link:</span>
                <input class="form-control" type='text' placeholder="original link" name="link" /> 
                <input class="btn btn-primary" type='submit' value="Shorten url" /></form>
            <code>
                @ViewData["debug"]
            </code>
            <div class="panel panel-default">
                <table class="table">
                <thead><tr><td>Original Link</td><td>Short link</td><td>Click</td></tr>
        </thead>
        <tbody>
        @foreach(var Link in Model.Links)
        {
            <tr><td><a href="@Link.LongURL">@Link.LongURL</a></td><td><a href="@Link.ShortURL">@Link.ShortURL</a></td><td>@Link.Count</td></tr>
        }

        </tbody></table></div>
